/* index.css */

/* 1. Tu Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* 2. Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  /* Estilos para el input de tipo date */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(80%) sepia(10%) saturate(70%) hue-rotate(180deg);
    cursor: pointer;
  }
}
